@import "../../styles/utils.scss";

.main-frame {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: $oc-gray-9;
    box-sizing: border-box;

    .left-title {
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }
    .right-title {
      color: white;
      font-size: 0.8rem;
      font-weight: bold;
      float: right;

      .presen-name {
        color: #eccd1e;
      }
      @media screen and (max-width: $break-small) {
        display: grid;
      }
    }
  }

  .viewer-frame {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 5.8rem);

    @media screen and (max-width: $break-small) {
      height: calc(100vh - 6.8rem);
    }
  }
}
